/* +++++++++++ [1. body/html base] ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body,
html {
  height: 100%;
  font-size: 100%;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
  /* no worries this is a fluid layout */
  -ms-overflow-style: scrollbar;

  /* width of .header-btn-wrapper + 2px */
 
  /* height of .header */
  color: #555555;
  font-size: 16px;
  line-height: 1.6;
}
@media (min-width: 500px) {
  body {
    
    /* height of .header at this min-width*/
  }
}
@media (min-width: 768px) {
  body {
    padding-right: 0;
  
    /* height of .header at this min-width*/
    font-weight: 300;
  }
}
/* border around viewport
-------------------------------------------------------------------------------------------------------------------------------------*/
body:before,
body:after {
  z-index: 1005;
  right: 0;
  position: fixed;
  left: 0;
  height: 3px;
  content: "";
  background: #777777;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
html:before,
html:after {
  z-index: 1005;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 3px;
  content: "";
  background: #777777;
}
html:after {
  right: 0;
  left: auto;
}
html.no-boxshadow:before,
html.no-boxshadow:after,
.no-boxshadow body:before,
.no-boxshadow body:after {
  display: none;
}




a,
a:hover {
	text-decoration: none;
	color: #50D9FF;

}
h1 {
	
	float: right;
	right: 5px;
}

li.landingpage {
	
	box-shadow: 1px 2px 1px #888888;
	background-color: #fff;
	list-style: none;

	margin-top: 5px;
	padding: 10px 5px;
	text-align: right;
	border-radius: 2px;
	
	
}
li.port-page {
	
	box-shadow: 1px 2px 1px #888888;
	background-color: #fff;
	list-style: none;

	margin-top: 5px;
	padding: 10px 5px;
	text-align: right;
	border-radius: 2px;
	
	
}

li.port-page:hover a,
li:hover,
li.landingpage:hover a {
	background-color: #aee3ba;
	color: #fff;
	text-decoration: none;
}

nav {
	background: transparent;
}


table {
	position: relative;
	left: 260px;
	top: 55px;
	height: 400px;
	color: #a5adb0;
	padding: 5px;
	border-spacing: 0px;
}
td {
	padding: 5px;
}
ul {
	list-style: none;
	display: inline;
	padding-left: 10px;
}
tr:nth-child(even){
	background-color: #F2F2F2;
	border-style: solid;
	border-width: 5px;
	border-color: #F2F2F2;
}
.landing-ul {

	text-transform: uppercase;
	list-style: none;
	display: inline;
	color: #aee3ba;

}
span.text-content {
  background: #444;
  color: white;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
 
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -o-transition: opacity 800ms;
   transition: opacity 800ms;
}
.text-content  {
 
  text-align: center;

}
.text-content > h5,
.text-content > p {
	padding-top: 40px;

}
ul.img-list li:hover span.text-content {
  opacity: 0;
}
.summary {
	
	color: #fff;
	text-align: justify;
	padding-top: 25px;
}
/*****************************/
/*CLASSES BELOW HERE*/
/*****************************/
/*****************************/




.centerblock {
	margin-right: 25%;
	margin-left: 25%;
}
.container {
	
	margin: 0px;
	
  	width: 100%;
  
}


.form-color {
	color: #4f5666;
	border-style: none;
}


.actionButton {
	background-color: #fff;
	border-style: none;
	color:  #50D9FF;
	height: 40px;
	width: 225px;
	font-family: inherit;
	margin: 5px 0 0 25px;
}
.highlight { 

}
.img-size {
	max-width: 717px;
	
}

.movesearchbar {
	background-color: #fff;
	width: 235px;
	height: 36px;
	margin-top: 5px;
	padding: 10px 5px;
	text-align: right;
	border-radius: 2px;
	text-transform: uppercase;
	border-style: none;
	font-family: helvetica;
	color: #444;
}
.no-gutters {
	padding: 0px;
}
.pagination {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	/*margin: 20px 0;*/
	border-radius: 4px;
	width: 100%;
	height: 40px;
	text-align: center;
}
.pagination > li {
	display: inline;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
/*	float: left;*/
	padding:  6px 12px;
	margin-left: -1px;
	/*line-height: 1.42867143; */
	text-decoration: none;
	background-color: #fff;

}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #50D9FF;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  
  color: #fff;
  
  background-color: #50D9FF;

}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #50D9FF;
  
  background-color: #fff;
  border-color: #ddd;
}

.submitButton:hover {
	color: #fff;
	background-color: #aee3ba;
	box-shadow: 2px;
}


/*****************************/
/*ID'S BELOW HERE*/
/*****************************/
#deletepadding {
	padding-left: 0px;
}
/*black overlay on each project*/
/*****************************/


/*****************************/
/*****************************/
#landingpageBG 	{ 
  background: url('/images/hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 height: 100%;
}
#logo {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	}
/*Button for sliding the sidebar back out*/
#menuRecall {
	z-index: 2;
}
#page {
  clear: both;
}

#pic2 {
	margin-top: 440px;
}

#screenshots {
	position: relative;
	margin-top: 5%;
	right: 25%;
}
#secondsection {
	position: relative;
	top: 20px;	
	text-transform: uppercase;
	background-color: #fff;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	padding: 15px;
	background-color: #F2F2F2;
	/*position: absolute;*/
	/*overflow-x: hidden;*/
}
/*Menus for the each page go here*/
/*****************************/
#portmenu {
	position: fixed;
	padding-top: 100px;
	left: -250px;
	border-right: solid;
	border-width: 0px;
	padding-bottom: 50%;
	background-color: #343d46;
	text-transform: uppercase;
	clear: both;
	width: 250px;
	box-shadow: 1px 0px 3px #a7adba;
	z-index: 5;
}
ul#indexmenu {
	position: fixed;
	padding-top: 100px;
	border-right: solid;
	border-width: 0px;
	padding-bottom: 50%;
	background-color: #F2F2F2;
	text-transform: uppercase;
	clear: both;
	width: 250px;
	left: -250px;
	box-shadow: 5px 0px 34px #888888;
	z-index: 1;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*Desktop size screen */
@media  (min-width: 992px){

#fixtoBottem {
	margin-top: 10%;
}

#logo {
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
	}


}

/*Desktop size screen */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px){
	

}