/* +++++++++++ [1. body/html base] ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body,
html {
  height: 100%;
  font-size: 100%;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
  /* no worries this is a fluid layout */
  -ms-overflow-style: scrollbar;

  /* width of .header-btn-wrapper + 2px */
 
  /* height of .header */
  color: #555555;
  font-size: 16px;
  line-height: 1.6;
}
header {
	height: 70px;	
	z-index: 100;
}

footer {
	background-color: transparent;
	text-align: center;
}
@media (min-width: 500px) {
  body {
    
    /* height of .header at this min-width*/
  }
}
@media (min-width: 768px) {
  body {
    padding-right: 0;
  
    /* height of .header at this min-width*/
    font-weight: 300;
  }
}
/* border around viewport
-------------------------------------------------------------------------------------------------------------------------------------*/
body:before,
body:after {
  z-index: 1005;
  right: 0;
  position: fixed;
  left: 0;
  height: 3px;
  content: "";
/*  background: #777777;*/
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
html:before,
html:after {
  z-index: 1005;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 3px;
  content: "";
 /* background: #777777;*/
}
html:after {
  right: 0;
  left: auto;
}
html.no-boxshadow:before,
html.no-boxshadow:after,
.no-boxshadow body:before,
.no-boxshadow body:after {
  display: none;
}




a,
a:hover {
	text-decoration: none;
	color: #aee3ba;


}
h1 {
	
	float: right;
	right: 5px;
}
.landingpage > a {
	color: #5FDFF4;
	
}
li.landingpage {
	
	box-shadow: 1px 2px 1px #888888;
	background-color: #fff;
	list-style: none;
	letter-spacing: .23em;
	color: #5FDFF4;
	margin-top: 5px;
	margin-right: 5px;
	padding: 10px 5px;
	text-align: right;
	border-radius: 2px;
	font-weight: 500;
	
	
}
li.portpage {
	
	box-shadow: 1px 2px 1px #888888;
	background-color: #9B9898;
	letter-spacing: .23em;
	list-style: none;
	border-style: none;
	margin-top: 5px;
	padding: 10px 5px;
	text-align: right;
	border-radius: 2px;
	margin-right: 5px;
	font-weight: 500;
}

li.portpage:hover a,
.portpage:hover,
.landingpage:hover,
li.landingpage:hover a {
	background-color: #aee3ba;
	color: #fff;
	text-decoration: none;
}

nav {
	background: transparent;
}



td {
	padding: 5px;
}
ul {
	list-style: none;
	display: inline;
	padding-left: 10px;
}

.landing-ul {

	text-transform: uppercase;
	list-style: none;
	display: inline;
	color: #aee3ba;

}
span.textcontent {
  background: #444;
  color: white;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
 
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -o-transition: opacity 800ms;
   transition: opacity 800ms;
}
.textcontent  {
 
  text-align: center;
  
}
.textcontent > h5,
.textcontent > p {
	padding-top: .1em;
	padding-right: 10px;
}
.textcontent > h5 {
	font-size: 10em;
	letter-spacing: .1em;
}
ul.img-list li:hover span.textcontent {
  opacity: 0;
  z-index: -4;
}
.style-list > li {
	display: block;
	margin: 5px;
	padding: 3px 3px;
	border-radius: 4px;
	background: #ddd;
	float: left;
	font-size: 1em;
	line-height: 1.500em;
	list-style: none;
}
.summary {
	
	color: #fff;
	text-align: justify;
	padding-top: 25px;
}
/*****************************/
/*CLASSES BELOW HERE*/
/*****************************/
/*****************************/
.blogTitle {
	text-transform: uppercase;
	font-weight: 800;
}



.centerblock {
	margin-right: 25%;
	margin-left: 25%;
}
.container {
	
	margin: 0px;
	
  	width: 100%;
  
}


.form-color {
	color: #4f5666;
	border-style: none;
}


.actionButton {
	background-color: #fff;
	border-style: none;
	color:  #50D9FF;
	height: 40px;
	width: 225px;
	font-family: inherit;
	margin: 5px 0 0 25px;
}
.highlight { 

}
.img-size {
	width: 717px;
	height: 399px;
}
.icons,
ul > .icons {
	max-height: 30px;
	
	display: inline;
	margin: 1.2em 1.2em 2em 1.2em;

}
.iconsheader,
ul > .iconsheader {
	max-height: 35px;
	
	display: inline;
	margin:  .23em  ;

}
.icons:hover{
	background-color: #fff;
}
.placeIcons{
	
}
.post-img-size {
	max-width: 300px;
	max-height:250px;
	 -webkit-box-shadow: none;
  box-shadow: 2px 3px 2px #888888;
}
.movesearchbar {
	background-color: #fff;
	width: 98%;
	height: 36px;
	margin-top: 5px;
	padding: 10px 5px;

	text-align: right;
	border-radius: 2px;
	text-transform: uppercase;
	border-style: none;
	font-family: helvetica;
	color: #444;
}
.no-gutters {
	padding: 0px;
}
.pagination {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	/*margin: 20px 0;*/
	border-radius: 4px;
	width: 100%;
	height: 40px;
	text-align: center;
}
.pagination > li {
	display: inline;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
/*	float: left;*/
	padding:  6px 12px;
	margin-left: -1px;
	/*line-height: 1.42867143; */
	text-decoration: none;
	background-color: #fff;

}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #50D9FF;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  
  color: #fff;
  
  background-color: #50D9FF;

}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #50D9FF;
  
  background-color: #fff;
  border-color: #ddd;
}

.submitButton:hover {
	color: #fff;
	background-color: #aee3ba;
	box-shadow: 2px;
}
.portfolioContent {
	text-align: justify;
}
.portfolioProfile {
	max-width: 250px;
	margin-bottom: 10px;


}

.title {
	margin-bottom: 1.2em;

}
/*****************************/
/*ID'S BELOW HERE*/
/*****************************/
#deletepadding {
	padding-left: 0px;
}
/*clickable row */
/*****************************/
table#clickableRow {
    border-collapse: collapse;   
}
.tableHeader {
	height: 50px;
}
#buttonPadding {
	margin-bottom: 100px;
}
#clickableRow tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#clickableRow tr:hover {
background-color: #ccc;
}
#clickableRow th {
    background-color: #fff;
}
#clickableRow th, 
#clickableRow td {
    padding: 3px 5px;
}
#clickableRow td:hover {
    cursor: pointer;
}
#showIcons:hover {
	cursor: pointer;
}
#showIcons,
h3 > ul,
.iconsheader {

	margin-bottom: 0px;

}
/*****************************/
/*****************************/

/************PAGER*****************************/
/*********************************************/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.pager li > a,
.pager li > span {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  background: #787E89;
  color: #fff;
  margin: 0 5px;
  width: 95px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.26);
      border-radius: 5px;
}
.pager li {
  background: inherit;
}
.pager .ti {
  font-size: 80%;
}
.text-right.pager {
  text-align: right;
}
.text-left.pager {
  text-align: left;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #787E89;
  color: #ffffff;
  border-color: #4b3f38;
}
.pager > .disabled > span,
.pager > .disabled > span:hover,
.pager > .disabled > span:focus,
.pager > .disabled > a,
.pager > .disabled > a:hover,
.pager > .disabled > a:focus {
  color: #eee;
  background-color: #eee;
  cursor: not-allowed;
  box-shadow: none;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  visibility: hidden;
}
/******************************************/
/******************************************/

#closeMenu {
	margin-left: 5%;
	margin-bottom: 20px;
	background-color: transparent;
	border-style: none;
}
#hiddenIcons {
	display: none;

}
#landingpageBG 	{ 
  background: url('/images/hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 height: 100%;
}
#logo {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	}
/*Button for sliding the sidebar back out*/
#menuRecall {
	margin-top: 20px;
}
#page {
  clear: both;
}

#pic2 {
	margin-top: 440px;
}

#screenshots {
	position: relative;
	margin-top: 5%;
	right: 25%;
}
#secondsection {
	
		
	text-transform: uppercase;
	background-color: #fff;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	padding: 15px;
	background-color: #F2F2F2;
	/*position: absolute;*/
	/*overflow-x: hidden;*/
}
/*Menus for the each page go here*/
/*****************************/
#portmenu {
	position: fixed;
	padding-top: 20px;
	left: -250px;
	border-right: solid;
	border-width: 0px;
	padding-bottom: 50%;
	background-color: #888585;
	text-transform: uppercase;
	clear: both;
	width: 250px;
	height: 100%;
	/*box-shadow: 1px 0px 3px #a7adba;*/
	z-index: 5;
}
ul#indexmenu {
	position: fixed;
	padding-top: 30px;
	border-right: solid;
	border-width: 0px;
	padding-bottom: 50%;
	background-color: #888585;
	text-transform: uppercase;
	clear: both;
	width: 250px;
	height: 100%;
	left: -250px;
	/*box-shadow: 1px 0px 3px #a7adba;*/
	z-index: 1;
}
#whackText{
	text-align: justify;
	font-weight: 100;
	padding-right: .8em;
	font-size: 1.5em;
}
#serveText {
	text-align: justify;
	font-size: 1.5em;
	font-weight: 100;
	margin-right: .8em;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*Desktop size screen */
@media  (min-width: 992px){

#fixtoBottem {
	margin-top: 10%;
}

#logo {
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
	}


}


/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/


/*small screen size  */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 768px){
	body {
		overflow-x: none;
	}
	#closeMenu {
	margin-left: 5%;
	background-color: transparent;
	border-style: none;
}

	#portmenu {
		position: fixed;
		padding-top: 20px;
		left: -100%;
		border-right: solid;
		border-width: 0px;
		padding-bottom: 50%;
		background-color: #888585;
		text-transform: uppercase;
		clear: both;
		width: 100%;
		height: 100%;
		
		z-index: 5;
	}
	ul#indexmenu {
		position: fixed;
		padding-top: 30px;
		left: -100%;
		border-right: solid;
		border-width: 0px;
		padding-bottom: 50%;
		background-color: #888585;
		text-transform: uppercase;
		clear: both;
		width: 100%;
		height: 100%;
		
		z-index: 1;
	}

	.img-size {
		width: 100%;
		max-height: 250px;
		margin-bottom: 20px;
	
}
	.icons,
	ul > .icons {
		max-height: 35px;
		
		display: inline;
		margin: .1em .7em 1em .7em;

	}
	.iconsheader,
	ul > .iconsheader {
		max-height: 35px;
		
		display: inline;
		margin: .0em .11em .1em .11em;

	}
	#footerspacing {
		padding-left: 0;
		margin-top: 15px;
	}

}